<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>StarCraft 2 Galaxy Script Validator</title>
		<link rel="stylesheet" href="{{ mediaurl('styles/global.css') }}" type="text/css" media="all">
		<!-- <link rel="icon" href="{{ mediaurl('images/favicon.png') }}" type="image/png" /> -->
		{% if CANONICAL_URL %}
			<!-- Canonical -->
			<link rel="canonical" href="{{ request.build_absolute_uri(CANONICAL_URL)|escape }}"/>
		{% endif %}
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="{{ mediaurl('scripts/jquery.linedtextarea.js') }}"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=8" />
		{% if META %}
			{% for tag, value in META.iteritems() %}
				<meta name="{{ tag }}" content="{{ value }}"/>
			{% endfor %}
		{% endif %}
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<h1><a href="{% url validator %}">StarCraft 2 Galaxy Script Validator</a></h1>
			</div>
			<div id="content">
				{% block content %}{% endblock %}
			</div>
			<div id="footer">
				<p>Brought to you by <a href="http://sc2.nibbits.com/">Nibbits</a> | Powered by <a href="http://sc2.nibbits.com/assets/lapins-galaxy-syntax-validator/">Lapin's Galaxy Syntax Validator</a></p>
			</div>
	</body>
</html>
